



nav {


    height:80px ; 
    background-color: rgb(167, 166, 166);
    display: flex;
    justify-content:space-between;
    align-items:center ;
    flex-direction: row;
    width: 100%;
    

}

nav ul a {

    font-size: 28px ;
    color: rgb(255, 255, 255);
    list-style: none;
    padding:0px 20px ;
    text-decoration: none;
    font-weight: bold;
    transition: all linear 0.5s;


}

nav .links {

    padding-left: 50px ;
}

nav ul a:hover {

    color: red;
    transform: scale(1);
}


nav .active {

    color: rgb(184, 14, 14) ;
}

nav .logo img {

    width: 120px ;
    padding-left: 50px ;
   
}

nav .icons a {

    text-decoration: none;
    font-size: 30px ;
    color: white;
    transition: all linear 0.5s ;
    padding-left: 10px ;
}


nav .icons a:hover {

    color:red;
    transform: scale(1);

}
