/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

nav {
  font-family: "Rubik", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

nav {
  height: 80px;
  background-color: rgb(167, 166, 166);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

nav ul a {
  font-size: 26px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: all linear 0.5s;
}

nav .links {
  padding-left: 50px;
}

nav ul a:hover {
  color: red;
  transform: scale(1);
}

nav .active {
  color: rgb(184, 14, 14);
}

nav .logo img {
  width: 120px;
  padding-left: 50px;
}

nav .icons a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  transition: all linear 0.5s;
  padding-left: 10px;
}

nav .icons a:hover {
  color: red;
  transform: scale(1);
}

.card {
  width: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sub_card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(187, 255, 198, 0.514);
  padding: 10px 30px;
  text-transform: uppercase;
}

.head {
  padding: 20px 20px;
}

.button {
  padding: 10px 15px;
  background-color: rgba(189, 189, 189, 0.623);
  color: rgb(230, 0, 0);
  font-size: 18px;
  border: none;
}

.form_main {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  padding: 40px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_main .input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form_main .input input {
  padding: 10px;
  width: 400px ;
  background-color: rgba(198, 254, 255, 0.527);
  border: none;
  font-size: 15px ;
}

.form_main .input input:hover {
  border: 1px solid rgb(2, 107, 2);
}

.form_main h1 {

  text-align: center;
  text-transform: uppercase;
  color:#3a0ca3;
}

/* .button_form{

  display: flex;
  justify-content: center;
 
} */


.button_form button {

  text-align: center;
  border: none;
  padding: 10px 20px ;
  margin-top: 10px ;
  background-color:rgba(206, 255, 210, 0.747);
  font-size: 16px ;
  border-radius: 5px ;

}

.button_form button:hover{

  background-color: rgba(255, 200, 200, 0.699);
  border: 1px solid rgb(139, 0, 0);
}

